

  <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Created Organisations</h3>
          </div>

          <!-- <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Go!</button>
                      </span>
              </div>
            </div>
          </div> -->
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <img class="img-fluid float-right"  *ngIf="loading" src="../../../assets/ajax/loader.gif" >

                  <div class="x_title">
                    <h2>Clients / Organisations</h2>

                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">


                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">ID </th>
                            <th class="column-title">Name </th>
                            <th class="column-title">Registered by </th>
                            <th class="column-title">Business Address </th>
                            <th class="column-title">Nature of Business </th>
                            <th class="column-title">Phone number </th>
                            <th class="column-title">RC number </th>
                            <th class="column-title">Package </th>

                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>

                          </tr>
                        </thead>

                        <tbody>

                          <tr class="even pointer" *ngFor="let i of organisations">

                            <td class=" "> {{i.id}} </td>
                            <td class=" ">{{i.name}}</td>
                            <td class=" ">{{i.user.email}}</td>
                            <td class=" ">{{i.businessAddress}}</td>
                            <td class=" ">{{i.natureOfBusiness}}</td>
                            <td class="">{{i.phoneNumber}}</td>
                            <td class="">{{i.package.name}}</td>
                            <td class="">{{i.rcNumber}} </td>
                            <td> <a (click)="deleteOrg(i.id)" class ="btn btn-danger btn-xs">Delete</a></td>
                            <td> <a [routerLink]="['/master/project/', i.id]" class ="btn btn-primary btn-xs">View baskets</a></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>


                  </div>
                </div>
              </div>
        </div>
    </div>
    </div>



