<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="client.html" class="site_title"><img src="../../assets/images/crext1.png"></a>
      </div>

      <div class="clearfix"></div>

      <!-- menu profile quick info -->
      <div class="profile clearfix">
        <div class="profile_pic">
          <img src="../../assets/Images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>John Doe</h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a href="clientproject.html"><i class="fa fa-folder"></i>Portfolio</a>

            </li>
            <li><a href="clientrmd.html"><i class="fa fa-reply"></i>Reminder<span class="badge bg-red">6</span></a>
            </li>
            <li><a href="clientdpt.html"><i class="fa fa-usd"></i>Due Payment<span class="badge bg-red">9</span></a>
            </li>
            <li><a href="clientqueries.html"><i class="fa fa-exclamation"></i>Queries<span class="badge bg-red">10</span></a>
            </li>
            <li><a href="clientupdate.html"><i class="fa fa-arrow-circle-up"></i>Updates<span class="badge bg-orange">1</span></a>
            </li>

            <li><a href="clientinbox.html"><i class="fa fa-envelope-o"></i>Mail<span class="badge bg-green">6</span></a>
            </li>

          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
