
    <div class="container body">
      <div class="main_container">

        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="mgr.html" class="site_title">
                  <img src="assets/Images/CREXTwhite.png" height="40">
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <!-- <div class="profile clearfix">
              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
              </div>
            </div> -->
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a routerLink="/master/organisation/list" ><i class="fa fa-users"></i>Clients / Organisations </a>

                  <!-- <li><a href="#"><i class="fa fa-reply"></i>Reminder<span class="badge bg-red">6</span></a>
                  </li>
                  <li><a href="#"><i class="fa fa-usd"></i>Due Payment<span class="badge bg-red">9</span></a>
                  </li>
                  <li><a href="#"><i class="fa fa-exclamation"></i>Queries<span class="badge bg-red">10</span></a>
                  </li>
                  <li><a href="#"><i class="fa fa-arrow-circle-up"></i>Updates<span class="badge bg-orange">1</span></a>
                  </li>


                  <li><a href="#"><i class="fa fa-recycle"></i>Reschedule</a>

                  </li> -->

                </ul>
              </div>
              <div class="menu_section">
                <h3>Advance</h3>
                <ul class="nav side-menu">

                      <li><a  routerLink="/master/organisation/create" ><i class="fa fa-suitcase"></i>Create Client/ Organisation</a></li>
                      <li><a  routerLink="/master/organisation/AddUser" ><i class="fa fa-plus"></i>Add User to organisation</a></li>


                      <li><a  routerLink="/master/user/create" ><i class="fa fa-suitcase"></i>Create User </a></li>
                      <li><a  routerLink="/master/user/addRoles" ><i class="fa fa-suitcase"></i>Assign User to role </a></li>
                      <li><a  routerLink="/master/user/list" ><i class="fa fa-users"></i>View Users </a></li>


                      <li><a  routerLink="/master/team/create" ><i class="fa fa-users"></i>Create Team</a></li>
                      <li><a  routerLink="/master/team-member/create" ><i class="fa fa-plus"></i>Add user to team</a></li>

                      <li><a  routerLink="/master/project/create" ><i class="fa fa-plus"></i>Create Project</a></li>

                      <li><a  routerLink="/master/customer/create" ><i class="fa fa-file"></i>Create Basket</a></li>
                  <li><a href="#"><i class="fa fa-archive"></i>Assign</a>
                  </li>
                  <li><a href="#"><i class="fa fa-money"></i>Billing</a>
                  </li>
                  <li><a href="#" (click)="logout()" ><i class="fa fa-sign-out"></i>Sign out</a>
                  </li>
                  </ul>
                  </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">

              <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

            </nav>
          </div>
        </div>

        <!-- <div class="right_col" role="main">
         -->
            <div class="row tile_count">
                <router-outlet></router-outlet>
            <!-- </div>
      </div> -->




      </div>
    </div>
        <!-- page content -->


