<section class="login_content">


    <div class="well center-div">

   <h4>Hello, You are a guest please contact adminstrator to add you to give you a role for an organisation</h4>

        <div class="clearfix"></div>

        <div class="separator">
          <p class="change_link">


          <div class="clearfix"></div>
          <br />

          <div>
            <h1>  <img src="assets/Images/crextlogo1.png" height="30" /> </h1>
            <p> All Rights Reserved. Crext! Privacy and Terms</p>
          </div>
        </div>
      </div>

  </section>
