<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Account Profile</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
      <div class="x_panel">
        <div class="x_title">


          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
              <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar">
              </div>
            </div>
            <h3>Samuel Doe</h3>

            <ul class="list-unstyled user_data">
              <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
              </li>

              <li>
                <i class="fa fa-usd user-profile-icon"></i> 2,500,000
              </li>

              <li class="m-top-xs">
                <h3> 08029510496</h3>

              </li>
              <li>
                <a class="collapsed" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4><strong><span style="color: red; text-decoration: underline; " >View More</span></strong> <i class="fa fa-chevron-down"></i></h4>
              </a>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                  <p><strong>Principal Amount:</strong> 100,000
                  </p>
                  <p><strong>Disbursement Date:</strong> 24/09/17
                  </p>
                  <p><strong>Gurantor's Name:</strong> Tony Shaw
                  </p>
                  <p><strong>Phone No.:</strong> 07081510037
                  </p>
                  <p><strong>Guarantor's Address:</strong> San Francisco, California, USA
                  </p>
                </div>

              </li>
            </ul>
            <a class="btn btn-success"><i class="fa fa-phone m-right-xs"></i> Call</a>

            <a class="btn btn-primary view" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-edit m-right-xs"></i> Update</a>
            </div>
            <!-- end of profile information -->



            <div class="col-md-9 col-sm-9 col-xs-12 pull-right">
            <div class="profile_title">
              <div class="col-md-6">
                <h2>User Activity Report</h2>
              </div>
              <div class="col-md-6">
                <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                </div>
              </div>
            </div>

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Recent Activity</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                  <!-- start recent activity -->
                  <ul class="messages">
                    <li>
                      <img src="images/img.jpg" class="avatar" alt="Avatar">
                      <div class="message_date">
                        <h3 class="date text-info">24</h3>
                        <p class="month">May</p>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading">CST</h4>
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                        <br />
                        <p>
                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span><i class="fa fa-clock-o" style="color: red;"></i><span style="color: red;"> 5:30pm</span>
                        </p>
                      </div>
                    </li>
                    <li>
                      <img src="images/img.jpg" class="avatar" alt="Avatar">
                      <div class="message_date">
                        <h3 class="date text-error">21</h3>
                        <p class="month">May</p>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading">COT</h4>
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                        <br />
                        <p>
                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span><i class="fa fa-clock-o" style="color: red;"></i><span style="color: red;"> 5:30pm</span>
                        </p>
                      </div>
                    </li>
                    <li>
                      <img src="images/img.jpg" class="avatar" alt="Avatar">
                      <div class="message_date">
                        <h3 class="date text-info">24</h3>
                        <p class="month">May</p>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading">CST</h4>
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                        <br />
                        <p>
                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span><i class="fa fa-clock-o" style="color: red;"></i><span style="color: red;"> 5:30pm</span>
                        </p>
                      </div>
                    </li>
                    <li>
                      <img src="images/img.jpg" class="avatar" alt="Avatar">
                      <div class="message_date">
                        <h3 class="date text-error">21</h3>
                        <p class="month">May</p>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading">CST</h4>
                        <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                        <br />
                        <p>
                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span><i class="fa fa-clock-o" style="color: red;"></i><span style="color: red;"> 5:30pm</span>
                        </p>
                      </div>
                    </li>

                  </ul>
                  <!-- end recent activity -->

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                  <h4 class="modal-title" id="myModalLabel">Account Name</h4>
              </div>
              <div class="modal-body">

                <label for="heard">Action *:</label>
                <select id="heard" class="form-control" required>
                  <option value="">Choose..</option>
                  <option value="press">Add Feedback</option>
                  <option value="net">Add Query</option>
                </select>
                <div class="form-group">
                <div class="radio">
                  <label>
                    <input type="radio" class="flat" checked name="iCheck"><span text-type="block"> RESCHEDULE</span>
                  </label>
                  <label>
                    <input type="radio" class="flat" name="iCheck"><span text-type="block">SET REMINDER</span>
                  </label>
                  <label>
                    <input type="radio" class="flat" name="iCheck"><span text-type="block">ADD PAYMENT</span>
                  </label>
                  <label>
                    <input type="radio" class="flat" name="iCheck"><span text-type="block">ADD TO VISIT LIST</span>
                  </label>
                </div>

                <label for="message">Comment (20 chars min, 100 max) :</label>
                <textarea id="message" required="required" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                  data-parsley-validation-threshold="10"></textarea>

                  <div class="filter">
            <div id="reportrange" class="pull-middle" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>December 30, 2018</span> <b class="caret"></b>
            </div>
          </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary source antosubmit" onclick="new PNotify({
                        title: 'Regular Success',
                        text: 'That thing that you were trying to do worked!',
                        type: 'success',
                        styling: 'bootstrap3'
                    });">Save changes</button>
              </div>



          </div>
          </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
