<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Today Reminder<small>500 accounts</small></h2>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

      <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>

      <div class="table-responsive">
        <table id="datatable-responsive" class="table table-striped jambo_table bulk_action table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
          <thead>
            <tr class="headings">

              <th class="column-title">Id</th>
              <th class="column-title">Invoice Date </th>

              <th class="column-title">Account Name </th>
              <!-- <th class="column-title">Status </th> -->
              <th class="column-title">Amount </th>
              <th class="column-title no-link last"><span class="nobr">Action</span>
              </th>

            </tr>
          </thead>

          <tbody>
            <tr class="even pointer">

              <td class=" ">121000040</td>
              <td class=" ">May 23, 2014 11:47:56 PM </td>
              <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
              <td class=" ">John Blank L</td>
              <td class=" ">Paid</td>
              <td class="a-right a-right ">$7.45</td>
              <td class=" last"><a href="#">View</a>
              </td>
            </tr>


          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
