
<div class="right_col" role="main" style="min-height: 799px;">
  <!-- top tiles -->
  <div class="row tile_count">



    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-reply"></i> Total Reminder</span>
      <div class="count">{{remiderCount}}</div>
      <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-usd"></i> Due Payments</span>
      <div class="count">{{duePaymentCount}}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-usd"></i> Due payments</span>
      <div class="count">{{duePayments.length}}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-recycle"></i> Total Reschedule</span>
      <div class="count">{{remiderCount}}</div>
      <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
  </div>
  <!-- /top tiles -->
<div class="row">
<app-assigned-list></app-assigned-list>

</div>

<!-- /page content -->

<!-- footer content -->
<footer>
  <div class="pull-right">
    CREXT DRD 2018
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>

