
<div class="right_col" role="main" style="min-height: 799px;">
  <!-- top tiles -->
  <div class="row tile_count">



    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-reply"></i> Total Reschedule </span>
      <div class="count">{{rescheduleCount}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-usd"></i> Due Payments</span>
      <div class="count">{{duePaymentCount}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-usd"></i> Reminders</span>
      <div class="count">{{remiderCount}}</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top"><i class="fa fa-recycle"></i> Assiged Basket </span>
      <div class="count">{{projectCount}}</div>
    </div>
  </div>
  <!-- /top tiles -->

<app-assigned-list></app-assigned-list>



<!-- /page content -->

<!-- footer content -->
<footer>
  <div class="pull-right">
    CREXT DRD 2018
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>

