
      <img class="img-fluid float-right"  *ngIf="loading" src="../../../assets/ajax/loader.gif" >
<div class="well">
  <form [formGroup]="myForm">
    <div class="form-group">
      <label class="control-label">Enter Assigned User Email Address </label>
      <label  class="text-right text-danger" *ngIf="email.invalid && (email.touched || email.dirty)">email Invalid</label>
      <input type="email" formControlName="Email" class="form-control" />

    </div>
    <div class="form-group">
      <label class="control-label">Select a basket(project)   to Assign </label>
      <label  class="text-right text-danger" *ngIf="projectId.invalid && (projectId.touched || projectId.dirty)">Choose Project</label>
      <select class="form-control" placeholder="Choose Organisation"  formControlName="ProjectId">
        <option value="{{i.id}}" *ngFor="let i of projects" > {{i.name}} </option>
      </select>
    </div>
    <button class="btn btn-primary" (click) ="onAssign()" > Ok </button>
   <div class ="well" *ngIf="assignedProjects != null">

    <p>assign basket/project</p>
      <span *ngFor="let i of assignedProjects"> {{i.project.name}}</span>
   </div>
  </form>

</div>
