
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <img class="img-fluid float-right"  *ngIf="loading" src="../../../assets/ajax/loader.gif" >

      <div class="x_title">
        <h2>All Projects</h2>

        <div class="clearfix"></div>
      </div>

      <div class="x_content">


        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">

                <th class="column-title">Name </th>

                <th class="column-title">email </th>

                <th>

                </th>

              </tr>
            </thead>

            <tbody>

              <tr class="even pointer" *ngFor="let i of users ">

                <td class=" ">{{i.firstName}}| {{i.lastName}}</td>

                <td class=" "> {{i.email}} </td>

                <td>


                </td>

              </tr>

            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
